$primary: #0066ff;
$light-primary: #84b5ff;
$dark-primary: #0147ae;
$white: #ffffff;
$black: #1c1b1f;
$gray: #a3a6aa;
$light-gradient: linear-gradient(90deg, #0066ff, #ffffff);
$dark-gradient: linear-gradient(90deg, #020d1f, #0066ff);
