.email-form-container {
  width: 100%;
  max-width: 40rem;
  background-color: $white;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: $elevation;

  .input-button-container {
    display: flex;
    overflow: hidden;
    margin: 13.6rem 0;

    @include small {
      margin: 4.8rem 0;
    }

    .input-container {
      flex-grow: 1;
      display: flex;
      align-items: center;

      @include small {
        width: 50%;
      }

      .email-form-input {
        flex-grow: 1;
        border: none;
        padding: 2rem;
        border-radius: 0;
        @include textbox;
        @include body-2;

        &:focus {
          outline: none;
        }
      }
    }

    .button-container {
      border: none;
      margin: 0.8rem;
      background-color: transparent;
      cursor: pointer;

      .email-submit-button {
        padding: 0.8rem 1.2rem;
        @include desktop-button-cta;

        @include small {
          @include mobile-button-cta;
          padding: 1.2rem 2.4rem;
          white-space: nowrap;
        }
      }
    }
  }
}
