footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13.6rem;
  align-self: stretch;
  background: $dark-gradient;

  .footer-container {
    width: 100%;
    max-width: 111.1rem;

    .footer-bottom {
      display: flex;
      flex-direction: row;
      margin-bottom: 2.4rem;

      .logo-container {
        display: flex;
        padding: 1.2rem;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;

        .footer-logo {
          width: 17.5006rem;
          height: 2.3264rem;
        }
      }

      .footer-menu-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2.4rem;
        flex: 1 0 0;

        .footer-menu {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          padding: 1.2rem;
          justify-content: center;
          align-items: center;
          gap: 2.4rem;

          .footer-menu-item {
            @include label-2;
            color: $white;
            cursor: pointer;

            &:hover {
              color: $black;
              transition: ease-in-out 0.3s;
            }
            &:active {
              color: $black;
              transition: ease-in-out 0.3s;
            }
          }
        }
      }
    }
  }
}
