@import "./_colors.scss";
@import "./_typography.scss";
@import "./_buttons.scss";

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16.4rem;
  align-self: stretch;
  margin-top: 4.4rem;

  .logo-container {
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    .logo {
      width: 17.5006rem;
      height: 2.3264rem;
    }
  }

  .menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.4rem;
    flex: 1 0 0;

    .menu {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 1.2rem;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;

      .menu-item {
        @include label-1;
        color: $black;
        cursor: pointer;

        &:hover {
          color: $primary;
          transition: ease-in-out 0.3s;
        }
        &:active {
          color: $primary;
          transition: ease-in-out 0.3s;
        }
      }
    }
    .header-cta {
      @include desktop-button-cta;
    }
  }
}
