@import "./theme/_colors.scss";
@import "./theme/_typography.scss";
@import "./theme/_buttons.scss";
@import "./theme/_breakpoints.scss";

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16.4rem;
  align-self: stretch;
  margin-top: 4.4rem;
  @include medium-padding;

  @include small {
    display: flex;
    padding: 1.6rem 2.4rem;
    align-items: center;
    gap: 2.4rem;
    align-self: stretch;
    margin-top: 1rem;
  }

  .logo-container {
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    .logo {
      width: 17.5006rem;
      height: 2.3264rem;

      @include xsmall {
        width: 13.5407rem;
        height: 1.8rem;
      }
    }
  }

  .menu-container.desktop-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.4rem;
    flex: 1 0 0;

    @include small {
      display: none;
    }

    .menu {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 1.2rem;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;

      .menu-item {
        @include label-1;
        color: $black;
        cursor: pointer;

        &:hover {
          color: $primary;
          transition: ease-in-out 0.3s;
        }
        &:active {
          color: $primary;
          transition: ease-in-out 0.3s;
        }
      }
    }
    .header-cta {
      @include desktop-button-cta;
    }
  }
  .mobile-menu-button {
    display: none;
    border: none;
    background: none;

    img {
      width: 3.4rem;
    }

    @include small {
      display: block;
    }
  }
}
