@import "./theme/_colors.scss";
@import "./theme/_typography.scss";
@import "./theme/_buttons.scss";
@import "./theme/_breakpoints.scss";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: $light-gradient;

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 111rem;
    margin: 0 auto;

    .hero-content-container {
      display: flex;
      flex-direction: row;

      @include small {
        flex-direction: column;
      }
      .hero-cta-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3.6rem;
        flex-shrink: 0;
        @include medium-padding;

        @include small {
          max-width: 31.2rem;
          margin-top: 3.2rem;
          padding: 2.4rem 1.6rem;
        }

        @include xsmall {
          max-width: 100%;
          gap: 2.4rem;
          margin-top: 0;
        }

        .hero-text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 54.2rem;
          gap: 1.6rem;
          align-self: stretch;
          @include medium-padding;

          .hero-cta {
            color: $black;
            @include header-1;

            @include small {
              @include mobile-header-1;
            }

            @include xsmall {
              width: 50%;
            }

            .letter {
              color: $primary;
              transition: color 0.3s ease-in-out;
              @include header-1;

              @include small {
                @include mobile-header-1;
              }
            }
          }
          .hero-cta-description {
            @include body-2;

            @include small {
              @include mobile-body-2;
            }

            @include xsmall {
              width: 50%;
            }
          }
        }
        .hero-button-container {
          @include medium-padding;

          .hero-button {
            @include desktop-button-cta;

            @include small {
              @include mobile-button-cta;
            }
          }
        }
      }
      .hero-img {
        display: flex;
        justify-content: flex-end;
        object-fit: auto;
        margin-top: 13.3rem;
        z-index: 1;
        width: 100%;

        @include medium {
          width: 40%;
          margin-left: 10rem;
        }

        @include small {
          width: 100%;
          justify-content: center;
          margin: 0;
        }

        img {
          @include small {
            width: 100%;
            padding: 0;
            overflow: auto;
            -webkit-transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}
