.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 111.1rem;

  @include small {
    overflow-x: auto;
    padding: 0rem 1.6rem;
    gap: 14.4rem;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 0.4rem;
      border-radius: 0.2rem;
      border: 0.5px solid $primary;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 0.2rem;
    }
  }

  .icon-item {
    display: flex;
    width: 100%;
    max-width: 17.1rem;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
    flex: 1 0 0;

    @include small {
      gap: 2.4rem;
      margin-bottom: 2.4rem;
    }

    .icon-description {
      @include body-1;
      text-align: center;

      @include small {
        @include mobile-body-2;
        width: 100%;
        max-width: 20rem;
      }
      .blue-color {
        @include body-1;
        color: $primary;

        @include small {
          @include mobile-body-2;
        }
      }
    }
  }
}
