.image-with-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  @include medium-padding;

  .image-with-text-image {
    width: 100%;
    max-width: 54rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    flex: 1 0 0;
    max-width: 47.2rem;

    .image-with-text-title {
      @include header-2;
    }
    .image-with-text-subtitle {
      @include body-2;
    }
  }
}
