.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 111.1rem;
  width: 100%;
  gap: 13.6rem;
  margin: 0 auto;
  padding: 10rem 0;

  .heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    .section-heading {
      @include header-1;
      text-align: center;
    }

    .section-subheading {
      @include body-2;
      text-align: center;
    }
  }
}
