.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 111.1rem;
  width: 100%;
  gap: 13.6rem;
  margin: 0 auto;
  padding: 10rem 0;

  @include small {
    gap: 4.8rem;
    padding: 4.8rem 2.4rem;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    .section-heading {
      @include header-1;
      text-align: center;

      @include small {
        @include mobile-header-1;
      }
    }

    .section-subheading {
      @include body-2;
      text-align: center;

      @include small {
        @include mobile-body-2;
      }
    }
  }
}
