@import "./_colors.scss";
@import "./_typography.scss";

@mixin textbox {
  align-items: center;
  gap: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: $white;

  @include small {
    @include mobile-body-2;
  }

  &::placeholder {
    color: $gray;
    @include body-2;

    @include small {
      @include mobile-body-2;
    }
  }
}
